<resources>
    <string name="app_name">SmartNotes</string>
    <string moduleConfig="true" name="CodePushDeploymentKey">YOUR_CODEPUSH_DEPLOYMENT_KEY_HERE</string>
    <string moduleConfig="true" name="CodePushServerUrl">https://codepush.appsonair.com</string>
    <string name="appsairpush_app_id">YOUR_APPSAIRPUSH_APP_ID_HERE</string>
</resources>